body, html {
  margin: 0 auto;
  min-width: 360px;
  max-width: 960px;
  height: 100vh;
  box-sizing: border-box;
  font-size: 36px;
}

.container{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.gametitle{
  width: 100%;
  margin: 0;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 2%;
  font-size: 1em;
}
.board{
  margin: 0;
  flex-basis: 80%;
  flex-shrink: 1;

}
.gameinfo{
  text-align: center;
  margin: 0;
  flex-basis: 20%;
  flex-shrink:5; 
  transform: translateX(-100%);
  font-size: .6em;
}

.rowformat {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.cell {
  border: 2px solid green;
  width: 5%;
  height: 0px;
  padding: 0;
  padding-bottom: 5%;
  margin: 0.1%;
  /* transition: all .2s linear; */
}

.pinkcell {
  border: 2px solid transparent;
  background-color: pink;
  border-radius: 50%;
  width: 5%;
  height: 0px;
  padding: 0;
  padding-bottom: 5%;
  margin: 0.1%;
  transition: all .08s linear;
}

.bluecell {
  border: 2px solid transparent;
  background-color: rgb(137, 243, 253);
  border-radius: 50%;
  width: 5%;
  height: 0px;
  padding: 0;
  padding-bottom: 5%;
  margin: 0.1%;
  transition: all .08s linear;
}